body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
.App {
    text-align: center;
}
.theJoke {
    background-color: white;
    padding: 10px;
}
button[type=button] {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: grey;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 1s;
}
button[type=button]:hover {
    background-color: black;
}